<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bimangle.ForgeEngine.Common" version="1.9.2" targetFramework="net48" />
  <package id="Bimangle.ForgeEngine.Revit2024" version="7.5.1" targetFramework="net48" />
  <package id="DotNetZip" version="1.13.2" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>