<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bimangle.ForgeEngine.Common" version="1.8.6" targetFramework="net47" />
  <package id="Bimangle.ForgeEngine.Revit2020" version="7.1.1" targetFramework="net47" />
  <package id="DotNetZip" version="1.13.2" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net47" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net47" />
</packages>